

<!-- event binding -->

<!-- event binding button click or mouse hover karna drag and drop kar na in sb ka liya hm event binding use karta ha
 user ya visitor kisi b action ka reaction ko event binding khta ha -->

 <div class="m-3">
 <!-- <button (click)="onaddtocart()">Add to cart</button> -->
 <!-- <p class=" text-dark fw-bold p-2 m-3">{{msg}}</p> -->
</div>

<input type="text" name="" id="" (click)="oninputtext($event)">
<br><br>
<button value="Laptop" (click)="onaddtocart($event)" class="btn btn-success">Laptop</button>
<button value="TV" (click)="onaddtocart($event)" class="btn btn-success mx-2">TV</button>
<button value="Mobile" (click)="onaddtocart($event)" class="btn btn-success">Mobile</button>

<h5 class=" text-dark fw-bold p-2 m-3">{{msg}}</h5>