


<div class="container mt-4 bg-light"> 
    <div class="text-center p-3">
        <h4 class="text-dark text-white">Product</h4>
        <p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet harum necessitatibus dolor sequi illum ipsum, porro rem blanditiis eaque, quas animi a. In soluta ratione non repellat culpa, reiciendis quo.</p>
    
    </div>
    <hr class="mb-3">
   
    <div class="row d-flex flex-row">
        <div class="col-md-8">


              <div class="card" style="width: 19rem;" appTestdirective>
                <img src="../../../assets/cup of coffee.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="hoem-page" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="card mx-3" style="width: 19rem;" appTestdirective>
                <img src="../../../assets/images.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="about-page" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="card mt-3" style="width: 19rem;">
                <img src="../../../assets/imgage - Copy.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="contact-2" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="card mx-3 mt-3" style="width: 19rem;">
                <img src="../../../assets/watch-img.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a routerLink="blog" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>

        <div class="col-md-4 border-start h-50">
            <router-outlet></router-outlet>
        </div>
    </div>
    </div>
 
