<div class="container bg-light mt-4">
    <div class="text-center p-3">
        <h4 class="text-dark ">Home</h4>

    </div>
    <div class="container">
        <div #box>
            <h5 class="text-center p-4 rounded mt-3">username is : <strong>{{username}}</strong></h5>
        </div>
        <div class="row">
            <div class="col-md-6 mt-3">
    
                <button (click)="Changechildproperty()" class="btn btn-success mx-2">Change child property</button>
                <button (click)="CallChildMethod()" class="btn btn-success mx-2">Call child Method</button>
               <div class="custom-dropdown">
                <span class="dropdown-header" appDropdown>
                    My Dropdown
                </span>
                <div class="dropdown-content">
                    <a href="#">Item 1</a>
                    <a href="#">Item 2</a>
                    <a href="#">Item 3</a>
                </div>

               </div>
            
            </div>
            <div class="col-md-6">
                <app-comp-2>
                    <p #childcontent>This is ng content paragraph</p><br>
                </app-comp-2>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>